<nav data-partial="freelancers/loop-freelancers-specialties" class="categories category-filters" aria-label="category filters">
    {%- include partials/utility/dynamic-headerlevel level: headerlvl title: translations[locale].specialties -%}

    <ul role="list" class="category-list">
        {% assign tagClasses = "tag-link tag-link--large " %}
        {% assign activeClass = "tag-link--active" %}
        {% assign mainPath = translations[locale].freelancersURL | prepend: "/" | append: "/" %}
        <li>
            <a href="{{ mainPath }}" 
                class="{{ tagClasses }} {%- if page.url == mainPath -%}{{ activeClass }} {%- endif -%}"
                {%- if page.url == mainPath -%} aria-current="true" {%- endif -%}>
            {% assign label = translations[locale].allCategories %}
            {%- tag label -%}
            </a>
        </li>
        {%- for specialty in collections.memberSpecialties -%}
            {% assign subPath = mainPath | append: translations[locale].specialty | append: "/" | append: specialty.slug | append: "/" %}
            <li>
                <a href="{{ subPath}}" 
                    class="{{ tagClasses }} {%- if page.url == subPath -%}{{ activeClass }} {%- endif -%}"
                    {%- if page.url == subPath -%} aria-current="true" {%- endif -%}>
                    {%- tag specialty.title -%}
                </a>
            </li>
        {%- endfor -%}
    </ul>
</nav>
