<!doctype html>
<html lang='{{ locale }}'>
    <head>
        <meta charset='UTF-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <title>
            {{ title }}
            ·
            {{ site.title }}
        </title>

        <link
            rel='preload'
            href='/assets/fonts/Roboto-Regular.woff2'
            as='font'
            type='font/woff2'
            crossorigin=''
        >
        <link
            rel='preload'
            href='/assets/fonts/Fabrik-Regular.woff2'
            as='font'
            type='font/woff2'
            crossorigin=''
        >

        {%- include 'meta.liquid' -%}

        <script>
            /* Font loading: Critical FOFT with preload, see: https://www.zachleat.com/web/comprehensive-webfonts/#critical-foft-with-preload */
            (function () {
                if ('fonts' in document) {
                    // Optimization for Repeat Views
                    if (sessionStorage.fontsLoadedCriticalFoftPreload) {
                        document.documentElement.className += ' fonts-loaded-2';
                        return;
                    }

                    document.fonts.load("1em 'Roboto'").then(function () {
                        document.documentElement.className += ' fonts-loaded-1';
                        const fonts = [
                            document.fonts.load("400 1em 'Roboto'"),
                            document.fonts.load("700 1em 'Roboto'"),
                            document.fonts.load("italic 1em 'Roboto'"),
                            document.fonts.load("italic 700 1em 'Roboto'"),
                        ];

                        Promise.all(fonts).then(function () {
                            document.documentElement.className += ' fonts-loaded-2';

                            // Optimization for Repeat Views
                            sessionStorage.fontsLoadedCriticalFoftPreload = true;
                        });
                    });
                }
            })();
        </script>

        <link rel='stylesheet' href='/assets/css/style.scss'>
    </head>
    <body data-layout='base'>
        {%- include 'svg/shapes.svg' -%}
        {%- assign blogposts = collections.published_posts | getLocale: locale -%}
        {%- assign activities = collections.published_activities | getLocale: locale -%}
        {%- assign jobs = collections.published_jobs | getLocale: locale -%}
        {%- assign members = collections.published_members | getLocale: locale -%}
        {%- assign freelancers = collections.freelancers | getLocale: locale -%}

        <a href='#main' class='skiplink'>Skip to main content</a>

        <div class='layout' role='document'>
            {% include 'header' %}

            <main id='main' class='main'>
                {{ content | safe }}
            </main>

            {% include 'footer' %}
        </div>

        <script type='module' src='{{ '/assets/js/main.js' | url }}'></script>
    </body>
</html>
