{%- assign pageCollectionKey = "published_activities_" | append: locale -%}

{% comment %} Get the title and the information from the most recent activity {% endcomment %}
{%- for activity in paginated_activities limit:1 -%}
    {% comment %} Check if event has happened, or not yet. Create a variable 'eventHasHappened' to store the result. {% endcomment %}
    {%- assign today = "now" | date: "%Y%m%d" | plus: 0 -%}
    {%- assign latestEventDate = activity.data.eventdate | date: "%Y%m%d" | plus: 0 -%}
    {% if today <= latestEventDate %}
        {%- assign eventHasHappened = false -%}
    {% else %}
        {%- assign eventHasHappened = true -%}
    {% endif %}

    {% comment %} Save html in variable nextUpTitle to use on line 38 {% endcomment %}
    {% capture nextUpTitle %}
        <h2>
            <a href="{{ activity.url }}">
                <span class="sup-title">{% if eventHasHappened %}{{ translations[locale].lastEvent }}{% else %}{{ translations[locale].nextEvent }}{% endif %}
                </span><span class="nextup-title">{{ activity.data.title }}</span>
            </a>
        </h2>
    {% endcapture %}

    {% capture nextUp %}<div class="nextup-time-and-location-wrapper">
            <time class="nextup-time" datetime="{{ activity.eventdate | date: "%Y-%m-%d" }}">
                {{ activity.data.eventdate | displayDate: locale }}
            </time> -

            {%- if activity.data.location -%}
                <span class="nextup-location">
                    {{ activity.data.location }}
                </span>
            {%- else -%}
                <span class="nextup-location">
                    {{ translations[locale].locationUnknown }}
                </span>
            {%- endif -%}
        </div>

        <a href="{{ activity.url }}" class="nextup-link" aria-hidden="true">{{ translations[locale].readmore }}<span class="visually-hidden">{{ translations[locale].about }} {{ activity.data.title }}</span></a>
    {% endcapture %}
{%- endfor -%}

{%- include partials/utility/html-head -%}

<body data-layout="activity-home">
    {%- include partials/page-header/_page-header -%}

    <main class="{% if useHero %}styledheader{% endif %}">
        {%- if pagination.pageLinks.length > 1 -%}
            {%- if pagination.previousPageLink -%}
            {%- else -%}
                {%- pagehero 'activities' nextUpTitle nextUp content -%}
            {%- endif -%}
        {%- else -%}
            {%- pagehero 'activities' nextUpTitle nextUp content-%}
        {%- endif -%}

        {%- assign upcomingActivities = paginated_activities | upcomingEvents -%}
        {%- assign totalUpcoming = collections[pageCollectionKey] | upcomingEvents | count -%}
        {%- assign viewCondition =  totalUpcoming |  divided_by: 9 | ceil -%}

        {%- include partials/activities/loop-activity-categories headerlvl:"h2" -%}
        {%- if pagination.pageNumber < viewCondition or viewCondition == 0 -%}
            <section class="inner-wrapper upcoming-activities">
                <h2>{{ translations[locale].upcomingActivitiesTitle }} <span>({{ totalUpcoming }})</span></h2>

                {%- if totalUpcoming == 0 -%}
                    <p>{{ translations[locale].emptyStateActivities }}</p>
                {%- else -%}
                    <ol class="desktop-columns">
                        {%- for activity in upcomingActivities limit:pagination.size -%}
                            {%- assign index = forloop.index | modulo: 3 -%}
                            <li class="list-item">
                                {%- include partials/activity headerlvl:"h3" index:index -%}
                            </li>
                        {%- endfor -%}
                    </ol>
                {%- endif -%}
            
            </section>
        {%- endif -%}

        {%- assign shownUpcomingActivities = paginated_activities | upcomingEvents | count -%}

        {%- if shownUpcomingActivities < 9 -%}
            <section class="inner-wrapper past-activities">
                {%- assign pastActivities = paginated_activities | pastEvents -%}
                {%- assign totalPastActivities = collections[pageCollectionKey] | pastEvents | count -%}
                
                <h2>{{ translations[locale].pastActivitiesTitle }} <span>({{ totalPastActivities }})</span></h2>
                
                <ol class="desktop-columns">
                    {%- for activity in pastActivities limit:pagination.size -%}
                        {%- assign index = forloop.index | modulo: 3 -%}
                        <li class="list-item">
                            {%- include partials/activity headerlvl:"h3" index:index pastActivity: true -%}
                        </li>
                    {%- endfor -%}
                </ol>
            </section>
        {%- endif-%}

        {%- include partials/pagination -%}

    </main>

    {%- include partials/page-footer/_page-footer -%}
</body>
</html>
