{%- include partials/utility/html-head -%}
<body>
<div class="outer-wrapper">
    {%- include partials/page-header/_page-header -%}

    <main class="page-content inner-wrapper">
        <h2>{{ title }}</h2>
        {{ content }}

        {%- include partials/activities/loop-activity-categories -%}

        <h2><span>{{ translations[locale].category }}</span>: {{ category.title }}</h2>

        {%- assign posts = collections.published_activities | getLocale: locale -%}
        <ul class="desktop-columns">
            {%- for post in posts -%}
            {%- assign post_categories = post.data.categories -%}
            {%- for post_category in post_categories -%}
                {%- assign current_category = post_category | downcase -%}
                {%- if category.title == current_category -%}
                    <li class="list-item">
                        {%- include partials/activity headerlvl:"h3" index:forloop.index activity:post -%}
                    </li>
                {%- endif -%}
            {%- endfor -%}
            {%- endfor -%}
        </ul>

        {%- if category.totalPages > 1 -%}
            <ul>
                {%- if category.pageSlugs.previous -%}
                    <li>
                        <a href="/{{ translations[locale].activitiesURL }}/{{ translations[locale].category }}/{{ category.pageSlugs.previous }}/">
                            {{ translations[locale].previous }}
                        </a>
                    </li>
                {%- endif -%}
                {%- if category.pageSlugs.next -%}
                    <li>
                        <a href="/{{ translations[locale].activitiesURL }}/{{ translations[locale].category }}/{{ category.pageSlugs.next }}/">
                            {{ translations[locale].next }}
                        </a>
                    </li>
                {%- endif -%}
            </ul>
        {%- endif -%}
    </main>

    {%- include partials/page-footer/_page-footer -%}
</div>
</body>
</html>

