{%- assign pageCollectionKey = "categorised_activities_" | append: locale -%}
{%- include partials/utility/html-head -%}
<body data-layout="activity-category">
    {%- include partials/page-header/_page-header -%}

    <main id="main">
        <section class="inner-wrapper centered-section">
        
        
        {{ content }}
       
        {%- include partials/utility/dynamic-category-loop level: "h2" type: "activity" typeURL: translations[locale].activitiesURL -%}
        </section>
        
        {%- comment -%} Get all posts for this category and ensure uniqueness {%- endcomment -%}
        {%- assign allPosts = collections[pageCollectionKey][category.slug] | unique -%}
        
        {%- comment -%} Filter into upcoming and past events using filters {%- endcomment -%}
        {%- assign upcomingPosts = allPosts | upcomingEvents -%}
        {%- assign pastPosts = allPosts | pastEvents -%}
        {%- assign totalUpcoming = upcomingPosts | size -%}
        {%- assign totalPast = pastPosts | size -%}
        
        {%- comment -%} Show upcoming events in the new layout {%- endcomment -%}
        {%- if totalUpcoming > 0 -%}
            <section class="inner-wrapper upcoming-activities">
                <h2>{{ translations[locale].upcomingActivitiesTitle }} '{{ category.title }}'</h2>
                <ol class="activity-calendar-items">
                    {%- for activity in upcomingPosts -%}
                        {%- assign index = forloop.index -%}
                        <li class="list-item">
                            {%- include partials/activity-calendar-item headerlvl:"h3" index:index -%}
                        </li>
                    {%- endfor -%}
                </ol>
            </section>
        {%- endif -%}
        
        {%- comment -%} Show past events in the old layout {%- endcomment -%}
        {%- if totalPast > 0 -%}
            <section class="inner-wrapper past-activities">
                <h2>{{ translations[locale].pastActivitiesTitle }} <span>({{ totalPast }})</span></h2>
                <ol class="desktop-columns">
                    {%- for post in pastPosts -%}
                        {%- assign index = forloop.index | modulo: 3 -%}
                        <li class="list-item">
                            {%- include partials/activity headerlvl:"h3" index:index activity:post pastActivity: true -%}
                        </li>
                    {%- endfor -%}
                </ol>
            </section>
        {%- endif -%}

        {%- if category.totalPages > 1 -%}
            <section class="inner-wrapper">
                <ul>
                    {%- if category.pageSlugs.previous -%}
                        <li>
                            <a href="/{{ translations[locale].activitiesURL }}/{{ translations[locale].category }}/{{ category.pageSlugs.previous }}/">
                                {{ translations[locale].previous }}
                            </a>
                        </li>
                    {%- endif -%}
                    {%- if category.pageSlugs.next -%}
                        <li>
                            <a href="/{{ translations[locale].activitiesURL }}/{{ translations[locale].category }}/{{ category.pageSlugs.next }}/">
                                {{ translations[locale].next }}
                            </a>
                        </li>
                    {%- endif -%}
                </ul>
            </section>
        {%- endif -%}
    </main>

    {%- include partials/page-footer/_page-footer -%}
</body>
</html>
