{%- for member in members -%}
    {%- if member.data.title == heroPost.data.author -%}
        {%- assign authorHasAProfilePage = true -%}
    {%- else -%}
        {%- assign authorHasAProfilePage = false -%}
    {%- endif -%}
{%- endfor -%}

{% capture blogMeta %}
    <time class="blog-time" datetime="{{ date | date: "%Y-%m-%d" }}">
        {{ date | displayDate: locale  | date: "%d.%m.%y" }}
    </time>

    {%- if authorHasAProfilePage -%}
        <a href="{{ member.url }}" class="blog-author">{{ author }}</a>
    {%- else -%}
        <span class="blog-author">{{ author }}</span>
    {%- endif -%}

    <ul class="blog-tags" role="list" aria-label="Tagged">
        {%- for tag in categories limit:2 -%}
            <li>
                <a href="/{{ translations[locale].blogsURL }}/{{ translations[locale].category }}/{{ tag | slugify }}" class="tag-link">{{ tag }}</a>
            </li>
        {%- endfor -%}
    </ul>
{% endcapture %} 


{%- include partials/utility/html-head  -%}
<body>
    {%- include partials/page-header/_page-header  -%}

    <main class="single-blog">
        {%- pagehero 'single-blog' title blogMeta -%}

        <div class="inner-wrapper">
            <div class="page-content">
                <div class="blog-graphic-wrapper">
                    {%- if graphic.src -%}
                        <img src="/assets/images/{{ graphic.src }}" alt="{{ graphic.alt }}" class="blog-graphic" />
                    {%- endif -%}
                </div>

                {{ content }}
            </div>
        </div>
    </main>

    {%- include partials/utility/edit-this-page -%}

    {%- include partials/page-footer/_page-footer  -%}
</body>
</html>
