{% for member in members %}
    {% if member.data.title == author %}
        {% assign authorHasAProfilePage = true %}
    {% else %}
        {% assign authorHasAProfilePage = false %}
    {% endif %}
{% endfor %}   

{% include partials/utility/html-head  %}
<body>
    <div class="outer-wrapper">
        {% include partials/page-header/_page-header  %}

        <main class="page-content single-blog inner-wrapper ">

            <header class="single-blog-hero">
                <div class="single-blog-hero-graphic"></div>
                <div class="single-blog-hero-content ">
                    <div class="content-wrapper">
                        <h2>{{ title }}</h2>

                        <time class="blog-time" datetime="{{ date | date: "%Y-%m-%d" }}">
                            {{ date | displayDate: locale  | date: "%d.%m.%y" }}
                        </time>

                        {% if authorHasAProfilePage %}
                            <a href="{{ member.url }}" class="blog-author">{{ author }}</a>
                        {% else %}
                            <span class="blog-author">{{ author }}</span>
                        {% endif %}

                        <ul class="blog-tags" role="list" aria-label="Tagged">
                            {%- for tag in categories limit:2 -%}
                                <li>
                                    <a href="/{{ translations[locale].blogsURL }}/{{ translations[locale].category }}/{{ tag | slugify }}" class="tag-link">{{ tag }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                </div>
            </header>

            <div class="single-blog-content">
                <div class="content-wrapper">
                    {{ content }}
                </div>
            </div>

        </main>
 
        {% include partials/page-footer/_page-footer  %}
    </div>
</body>
</html>
