{% include partials/utility/html-head %}

<body>
    <div class="outer-wrapper">
        {% include partials/page-header/_page-header %}

        <main class="page-content inner-wrapper">
            <h2>{{ title }}</h2>
            {{ content }}

            <h3>Categories</h3>
            {% for category in collections.blogCategories %}
              {% if loop.first %}
                <p><a href="/{{locale}}/{{ page.fileSlug }}/">{{ site[locale].all }}</a></p>
              {% endif %}
              <p><a href="/{{locale}}/{{ page.fileSlug }}/categorie/{{ category.slug }}">{{ category.title }}</a></p>
            {% endfor %}

            <ul class="desktop-rows mobile-slider">
                {%- for post in blogposts limit:3 -%}
                    <li class="list-item mobile-slider-item">
                        {% include partials/blogpost headerlvl:"h3" index:forloop.index  %}
                    </li>
                {%- endfor -%}
            </ul>

            {% if pagination.pageLinks.length > 1 %}
              <nav class="pagination">
                {% if pagination.previousPageLink %}
                  <a class="pagination__item" href="{{ pagination.previousPageHref | url }}">Newer Articles</a>
                {% else %}
                  <span class="pagination__item">Newer Articles</span>
                {% endif %}

                {% if pagination.nextPageLink %}

                  <a class="pagination__item" href="{{ pagination.nextPageHref | url }}">Older Articles</a>
                {% else %}
                  <span class="pagination__item">Older Articles</span>
                {% endif %}
              </nav>
            {% endif %}
        </main>
 
        {% include partials/page-footer/_page-footer %}
    </div>
</body>
</html>
