{%- assign authorHasAProfilePage = false -%}
{%- for member in members -%}
    {%- if member.data.title == heroPost.data.author -%}
        {%- assign authorHasAProfilePage = true -%}
        {%- assign memberUrl = member.url -%}
        {%- break -%}
    {%- endif -%}
{%- endfor -%}

{% capture blogMeta %}
    <p>
        {{ translations[locale].scheduled_date }}:
        <time class="blog-time" datetime="{{ date | date: "%Y-%m-%d" }}">
            {%- if locale == "nl" -%}
                {{ date | localizedDate: 'nl' }}
            {%- else -%}
                {{ date | date: "%B %e %Y" }}
            {%- endif -%}
        </time>
    </p>
    
    <p>
        {{ translations[locale].scheduled_author }}:
        {% if authorHasAProfilePage %}
            <a href="{{ memberUrl }}" class="blog-author">{{ author }}</a>
        {% else %}
            <span class="blog-author">{{ author }}</span>
        {% endif %}
    </p>
{% endcapture %}

{%- include partials/utility/html-head  -%}
<body data-layout="blog-single">
    {%- include partials/page-header/_page-header  -%}

    <main id="main" class="single-blog">
        {%- pagehero 'blog-single' title blogMeta -%}

        <div class="inner-wrapper">
            <div class="page-content">
                <p class="page-lead">{{ summary }}</p>
            
                {%- if graphic.src -%}
                    <figure>
                        <img src="{{ graphic.src }}" alt="{{ graphic.alt | default: 'Image description not available' }}" />
                        {% if graphic.figcaption or graphic.alt %}
                            <figcaption>{{ graphic.figcaption | default: graphic.alt }}</figcaption>
                        {% endif %}
                    </figure>
                {%- endif -%}

                {{ content }}

                {%- if categories.size > 0 -%}
                    <ul class="blog-tags" role="list" aria-label="Tagged">
                        {%- for tag in categories limit:2 -%}
                            <li>
                                <a href="/{{ translations[locale].blogsURL }}/{{ translations[locale].category }}/{{ tag | slugify }}" class="tag-link">{{ tag }}</a>
                            </li>
                        {%- endfor -%}
                    </ul>
                {%- endif -%}
            </div>
        </div>
    </main>

    {%- include partials/utility/edit-this-page -%}

    {%- include partials/page-footer/_page-footer  -%}
</body>
</html>
