{%- include partials/utility/html-head -%}
<body data-layout="darkmode2026home">
    {%- include partials/page-header/_page-header -%}

        {%- if locale == "nl" -%}
            {%- include partials/navigation nav_location: "header" nav_description: "Congresnavigatie" nav_selection: navigation.header.nl.congresnavigatie -%}
        {%- elsif locale == "en" -%}
            {%- include partials/navigation nav_location: "header" nav_description: "Conference navigation" nav_selection: navigation.header.en.congresnavigatie -%}
        {%- endif -%}

    <main id="main" class="darkmode-2026">
        {% comment %} <div class="inner-wrapper"> {% endcomment %}
            <section class="announcer full-width">
                <div class="announcer__content">
                {% if announcerHeadline %}
                <h2 class="announcer__headline headline">
                {{ announcerHeadline }}</h2>
                {% endif %}
                {% if announcerText %}
                <p class="announcer__text">
                {{ announcerText }}</p>
                {% endif %}
                </div>
            </section>
        
            <section class="narrow-width">
                <ul class="speakers full-width">
                    {% comment %} <li class="speakers__item">
                        <figure class="card">
                        <picture></picture>
                        <figcaption class="card__caption">
                            <a href="" class="card__link">
                            <h3 class="card__headline headline"></h3>
                            </a>
                        </figcaption>
                        </figure>
                    </li> {% endcomment %}
                </ul>
            </section>

            <section class="cta">
                {% if ctaHeadline %}
                <h3 class="cta__headline headline">{{ ctaHeadline }}<strong>{{ ctaPrice }}</strong>
                </h3>
                {% endif %}
                {% if ctaDiscountText %}
                <p class="discount">{{ ctaDiscountText }}<strong>{{ ctaDiscountAmount }}</strong>
                {{ ctaDiscountSuffix }}</p>
                {% endif %}
                {% if ctaButtonText %}
                <p>
                <a class="cta__button button" href="{{ ctaButtonUrl }}">{{ ctaButtonText }}</a>
                </p>
                {% endif %}
                {% if ctaSmallPrint %}
                <small class="cta__smallprint">
                {{ ctaSmallPrint }}</small>
                {% endif %}
            </section>

            <section class="narrow-width">
                {% if aboutHeadline %}
                <h3 class="headline">{{ aboutHeadline }}</h3>
                {% endif %}
                {% if aboutText %}
                <p>
                {{ aboutText }}</p>
                {% endif %}
            </section>

            {% if heroImageSrc %}
            <picture class="hero limited-width">
                <picture>
                {% if heroImageAvif %}
                <source type="image/avif" srcset="{{ heroImageAvif }}" sizes="100vw">
                {% endif %}
                {% if heroImageJpeg %}
                <source type="image/jpeg" srcset="{{ heroImageJpeg }}" sizes="100vw">
                {% endif %}
                <img alt="{{ heroImageAlt }}" loading="eager" decoding="sync" fetchpriority="high" src="{{ heroImageSrc }}" width="{{ heroImageWidth }}" height="{{ heroImageHeight }}">
                </picture>
            </picture>
            {% endif %}
        
            <div class="page-content">
                {% if title %}
                    <h1>{{ title }}</h1>
                {% endif %}
                
                {% if heroSlogan %}
                    <p class="hero-slogan">{{ heroSlogan }}</p>
                {% endif %}

                {{ content }}
            </div>
        {% comment %} </div> {% endcomment %}
    </main>

    {%- include partials/page-footer/_page-footer -%}
</body>
</html>

