---
layout: base
---
<div data-layout='members-home' class='inner-wrapper'>
    <div class='page-content'>
        <h2 class='visually-hidden'>{{ title }}</h2>
        {{ content }}

        <table>
            <thead>
                <th scope='col'>Naam</th>
                <th scope='col'>Werkgever</th>
            </thead>
            <tbody>
                {%- for lid in members-list %}
                    {% unless lid.naam == 'EOF' %}
                        <tr>
                            <td>
                                <span class='blog-author'>{{ lid.naam }}</span>
                                <!--
                                {%- for member in members -%}
                                    {%- if member.data.title == lid.naam -%}
                                        {%- assign memberHasAProfilePage = true -%}
                                        {%- assign memberUrl = member.url -%}
                                    {%- else -%}
                                        {%- assign memberHasAProfilePage = false -%}
                                        <span class='blog-author'>{{ lid.naam }}</span>
                                    {%- endif -%}

                                    {%- if memberHasAProfilePage -%}
                                        <a href='{{ memberUrl }}'> {{ lid.naam }}</a>
                                        {% break %}
                                    {%- else -%}
                                        
                                    {%- endif -%}
                                    {% break %}
                                {%- endfor -%}
                                -->
                            </td>
                            <td>
                                {% if lid.werkgever == '-' %}
                                {% else %}
                                    {{ lid.werkgever }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endunless %}
                {% endfor -%}
            </tbody>
        </table>

        {%- include partials/pagination -%}
    </div>
</div>
