{% include partials/utility/html-head %}

<body>
    <div class="outer-wrapper">
        {% include partials/page-header/_page-header %}

        <main class="page-content inner-wrapper">
            <h2>{{ title }}</h2>
            {{ content }}

            <ul class="desktop-columns mobile-slider">
                {%- for member in members limit:3-%}
                    <li class="list-item mobile-slider-item">
                        {% include partials/member index:forloop.index %}
                    </li>
                {%- endfor -%}
            </ul>

            {% if pagination.pageLinks.length > 1 %}
              <nav class="pagination">
                {% if pagination.previousPageLink %}
                  <a class="pagination__item" href="{{ pagination.previousPageHref | url }}">Newer Articles</a>
                {% else %}
                  <span class="pagination__item">Newer Articles</span>
                {% endif %}

                {% if pagination.nextPageLink %}

                  <a class="pagination__item" href="{{ pagination.nextPageHref | url }}">{{ translations[locale].next }}</a>
                {% else %}
                  <span class="pagination__item">{{ translations[locale].next }}</span>
                {% endif %}
              </nav>
            {% endif %}
        </main>
 
        {% include partials/page-footer/_page-footer %}
    </div>
</body>
</html>
