{%- include partials/utility/html-head -%}
<body data-layout="drafts">
    {%- include partials/page-header/_page-header -%}

    <main id="main" class="{% if useHero %}styledheader{% endif %}">
        <div class="inner-wrapper">
            <div class="page-content">
                {% unless useHero %}
                    <h2>{{ title }}</h2>
                {% endunless %}
                {{ content }}

            {%- if collections.unpublished_posts.size > 0 -%}

                <p>{{ translations[locale].scheduled_something }}</p>

                <table markdown="1">
                    <thead></thead>
                    <tbody>
                        <tr>
                            <td>{{ translations[locale].scheduled_date }}</td>
                            <td>{{ translations[locale].scheduled_title }}</td>
                            <td>{{ translations[locale].scheduled_author }}</td>
                            <td>{{ translations[locale].ariaTitleTranslateNav }}</td>
                            <td>{{ translations[locale].scheduled_pagetype }}</td>
                        </tr>
                        {%- for post in collections.unpublished_posts -%}
                        <tr>
                            <td>
                                {%- if locale == "nl" -%}
                                    <time datetime="{{ post.date | date: "%Y-%m-%d" }}">
                                        {{ post.date | localizedDate: 'nl' }}
                                    </time>
                                {%- elsif locale == "en" -%}
                                    <time datetime="{{ post.date | date: "%Y-%m-%d" }}">
                                        {{ post.date | displayDate: locale | date: "%B %e, %Y" }}
                                    </time>
                                {%- endif -%}
                            </td>
                            <td>
                                <a href="{{ post.url }}">{{ post.data.title }}</a>
                            </td>
                            <td class="author">
                                {{ post.data.author }}
                            </td>
                            <td>
                                {%- if post.data.locale == "nl" -%}   
                                    NL
                                {%- elsif post.data.locale == "en" -%} 
                                    EN
                                {%- else -%}     
                                    {{ post.data.locale }}
                                {%- endif -%}
                            </td>
                            <td>
                                {%- for tag in post.data.tags -%} 
                                    {% if tag == "posts" %}
                                        {{ translations[locale].post }}
                                        {% unless forloop.last %}, {% endunless %}
                                    {% elsif tag == "activities" %}
                                        {{ translations[locale].activity }}
                                        {% unless forloop.last %}, {% endunless %}
                                    {% elsif tag == "jobs" %}
                                        {{ translations[locale].job }}
                                        {% unless forloop.last %}, {% endunless %}
                                    {% elsif tag == "members" %}
                                        {{ translations[locale].member }}
                                        {% unless forloop.last %}, {% endunless %}
                                    {% elsif tag == "pages" %}
                                    {% else %}
                                        {{ tag }}
                                        {% unless forloop.last %}, {% endunless %}
                                    {% endif %}
                                {%- endfor -%}
                            </td>
                        </tr>
                        {%- endfor -%}
                    </tbody>
                </table>

            {%- else -%}
                
                <p>
                    {{ translations[locale].scheduled_nothing }}
                </p>

            {%- endif -%}
            </div>
        </div>
    </main>

    {%- include partials/page-footer/_page-footer -%}
</body>
</html>
