{%- comment -%}
    Enables us to set a header level dynamically in every context
{%- endcomment -%}

{%- capture header -%}
    {%- if link -%}
        <a href="{{ link | strip_html }}">
        {%- endif -%}
        {{ title | strip_html }}
        {%- if link -%}
        </a>
    {%- endif -%}
{%- endcapture -%}

{%- case level -%}
    {%- when 'h2' -%}
    <h2 data-partial="utility/dynamic-headerlevel" class="h">{{ header }}</h2>
    {%- when 'h3' -%}
    <h3 data-partial="utility/dynamic-headerlevel" class="h">{{ header }}</h3>
    {%- when 'h4' -%}
    <h4 data-partial="utility/dynamic-headerlevel" class="h">{{ header }}</h4>
    {%- when 'h5' -%}
    <h5 data-partial="utility/dynamic-headerlevel" class="h">{{ header }}</h5>
{%- else -%}
    <div data-partial="utility/dynamic-headerlevel">
        Invalid header level given to dynamic-headerlevel
        <code>{{ level }}</code>
    </div>
{%- endcase -%}
