<!doctype html>
<html lang="{{ locale }}">
<head data-partial="utility/html-head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% if title == "Homepage" %}
            {{ translations[locale].headTitle }}
        {% else %}
            {{ title }} - {{ translations[locale].siteName }}
        {% endif %}
    </title>

    {%- for language in site.languages -%}
        {% if language.code != locale %}
            {%- for item in collections.all -%}
                {%- if item.data.key == key and item.data.locale == locale -%}
                    {%- assign translatedUrl = item.url -%}
                {%- endif -%}
            {%- endfor -%}

            <link rel="alternate" hreflang="{{ language.hreflang }}" href="{{ translatedUrl }}" />
        {% endif %}
    {%- endfor -%}

    <link rel="manifest" href="/assets/favicon/site.webmanifest" crossorigin="anonymous">
    <link rel="icon" href="/assets/favicon/favicon.ico" sizes="48x48">
    <link rel="icon" href="/assets/favicon/icon.svg" sizes="any" type="image/svg+xml">

    <link rel="stylesheet" href="/assets/css/style.css">

    <link rel="preload" as="font" href="/assets/fonts/Fabrik-Bold.woff2" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" as="font" href="/assets/fonts/Fabrik-Regular.woff2" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" as="font" href="/assets/fonts/Roboto-Bold.woff2" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" as="font" href="/assets/fonts/Roboto-BoldItalic.woff2" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" as="font" href="/assets/fonts/Roboto-Italic.woff2" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" as="font" href="/assets/fonts/Roboto-Regular.woff2" type="font/woff2" crossorigin="anonymous">

    {% if locale == 'nl' %}
    <link rel="alternate" type="application/atom+xml" title="Fronteers blog" href="https://fronteers.nl/feeds/blog.xml" />
    <link rel="alternate" type="application/atom+xml" title="Fronteers activiteiten" href="https://fronteers.nl/feeds/activiteiten.xml" />
    <link rel="alternate" type="application/atom+xml" title="Fronteers vacatures" href="https://fronteers.nl/feeds/vacatures.xml" />
    {% else %}
    <link rel="alternate" type="application/atom+xml" title="Fronteers blog" href="https://fronteers.nl/feeds/blog-en.xml" />
    <link rel="alternate" type="application/atom+xml" title="Fronteers activities" href="https://fronteers.nl/feeds/activities.xml" />
    <link rel="alternate" type="application/atom+xml" title="Fronteers jobs" href="https://fronteers.nl/feeds/jobs.xml" />
    {% endif %}

    <meta name="description" content="{{ translations[locale].metaDescription }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffce2e">

    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ title }}">
    <meta property="og:site_name" content="{{ translations[locale].siteName }}">
    <meta property="og:image" content="https://fronteers-beta.netlify.app/assets/images/social-share/og-image-{{ locale }}.jpeg">
    <meta property="og:image:alt" content="Image of Fronteers website" />
    <meta property="og:image:width" content="1280">
    <meta property="og:image:height" content="556">
</head>

{%- comment -%}
    Include svg shapes so we can refer to them from our CSS.
    Includes the following clip-paths:
        #curly-brace-down-large

        #curly-brace-open-tiny
        #curly-brace-close-tiny

        #greater-than-open-tiny
        #greater-than-close-tiny

        #parenthesis-open-tiny
        #parenthesis-close-tiny

        #curly-brace-right-small
        #greater-than-right-small
        #parenthesis-right-small

        #parenthesis-down-small
        #greater-than-down-small
        #curly-brace-down-small

        #parenthesis-down-tiny
        #greater-than-down-tiny
        #curly-brace-down-tiny
{%- endcomment -%}

{%- include svg/shapes.svg -%}

{%- comment -%}
    assign collections to a variable, to simplify looping through the content
{%- endcomment -%}

{%- assign blogposts = collections.published_posts | getLocale: locale -%}
{%- assign activities = collections.published_activities  | getLocale: locale -%}
{%- assign jobs = collections.published_jobs  | getLocale: locale -%}
{%- assign members = collections.published_members  | getLocale: locale  -%}
{%- assign freelancers = collections.freelancers  | getLocale: locale  -%}
