<!doctype html>
<html lang="{{ locale }}">
<head data-partial="utility/html-head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% if title == "Homepage" %}
            {{ translations[locale].headTitle }}
        {% else %}
            {{ title }} - {{ translations[locale].siteName }}
        {% endif %}
    </title>

    {%- if key -%}
        {%- for language in site.languages -%}
            {%- assign translatedUrl = null -%}

            {%- for item in collections.all -%}
                {%- if item.data.key == key and item.data.locale == language.code -%}
                    {%- assign translatedUrl = item.url -%}
                {%- endif -%}
            {%- endfor -%}

            {%- if translatedUrl -%}
                {% if language.code == 'nl' %}
                    {%- if canonical -%}
                        <link rel="canonical" href="{{ canonical }}">
                    {%- else -%}
                        <link rel="canonical" href="{{ site.baseUrl }}{{ translatedUrl }}">
                    {%- endif -%}
                {%- endif -%}
                <link rel="alternate" hreflang="{{ language.hreflang }}" href="{{ site.baseUrl }}{{ translatedUrl }}">
            {% endif %}
        {%- endfor -%}
    {%- else -%}
        {%- if canonical -%}
            <link rel="canonical" href="{{ canonical }}">
        {%- endif -%}
    {%- endif -%}

    <link rel="stylesheet" href="/assets/css/style.css?v=">

    <link rel="preload" as="font" href="/assets/fonts/Fabrik-Bold.woff2" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" as="font" href="/assets/fonts/Roboto-Regular.woff2" type="font/woff2" crossorigin="anonymous">

    {% if locale == 'nl' %}
    <link rel="alternate" type="application/atom+xml" title="Fronteers blog" href="https://fronteers.nl/feeds/blog.xml">
    <link rel="alternate" type="application/atom+xml" title="Fronteers activiteiten" href="https://fronteers.nl/feeds/activiteiten.xml">
    <link rel="alternate" type="application/atom+xml" title="Fronteers vacatures" href="https://fronteers.nl/feeds/vacatures.xml">
    {% else %}
    <link rel="alternate" type="application/atom+xml" title="Fronteers blog" href="https://fronteers.nl/feeds/blog-en.xml">
    <link rel="alternate" type="application/atom+xml" title="Fronteers activities" href="https://fronteers.nl/feeds/activities.xml">
    <link rel="alternate" type="application/atom+xml" title="Fronteers jobs" href="https://fronteers.nl/feeds/jobs.xml">
    {% endif %}

    <link rel="manifest" href="/assets/favicon/site.webmanifest">
    <link rel="icon" href="/assets/favicon/favicon.ico" sizes="48x48">
    <link rel="icon" href="/assets/favicon/icon.svg" sizes="any" type="image/svg+xml">

    {% if summary %}
        <meta name="description" content="{{ summary }}">
    {% elsif translations[locale].metaDescription %}
        <meta name="description" content="{{ translations[locale].metaDescription }}">
    {% endif %}
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffce2e">

    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:site_name" content="{{ translations[locale].siteName }}">
    {% if image and image contains 'http' %}
        <meta property="og:image" content="{{ image }}">
    {% elsif image %}
        <meta property="og:image" content="https://fronteers.nl{{ image }}">
    {% else %}
        {% assign postDate = page.date | date: "%Y-%m-%d" %}
        {% if postDate > "2024-01-01" %}
            <meta property="og:image" content="{{ site.baseUrl }}/assets/images/social-preview-images/{{ page.date | postDate }}-{{ title | customSlug }}-preview-{{ locale }}.jpeg" />
            <meta property="og:image:secure_url" content="{{ site.baseUrl }}/assets/images/social-preview-images/{{ page.date | postDate }}-{{ title | customSlug }}-preview-{{ locale }}.jpeg" />
            <meta property="og:image:width" content="1200">
            <meta property="og:image:height" content="675">
        {% else %}
            <meta property="og:image" content="https://www.fronteers.nl/_img/og-image.png">
            <meta property="og:image:alt" content="Image of Fronteers website">
            <meta property="og:image:width" content="1200">
            <meta property="og:image:height" content="675">
        {% endif %}
    {% endif %}

    <script defer data-domain="fronteers.nl" src="https://plausible.io/js/script.js"></script>
</head>

{%- comment -%}
    Include svg shapes so we can refer to them from our CSS.
    Includes the following clip-paths:
        #curly-brace-down-large

        #curly-brace-open-tiny
        #curly-brace-close-tiny

        #greater-than-open-tiny
        #greater-than-close-tiny

        #parenthesis-open-tiny
        #parenthesis-close-tiny

        #curly-brace-right-small
        #greater-than-right-small
        #parenthesis-right-small

        #parenthesis-down-small
        #greater-than-down-small
        #curly-brace-down-small

        #parenthesis-down-tiny
        #greater-than-down-tiny
        #curly-brace-down-tiny
{%- endcomment -%}

{%- include svg/shapes.svg -%}

{%- comment -%}
    assign collections to a variable, to simplify looping through the content
{%- endcomment -%}

{%- assign blogposts = collections.published_posts | getLocale: locale -%}
{%- assign activities = collections.published_activities  | getLocale: locale -%}
{%- assign jobs = collections.published_jobs  | getLocale: locale -%}
{%- assign members = collections.published_members  | getLocale: locale  -%}
{%- assign freelancers = collections.freelancers  | getLocale: locale  -%}

<span id="openSubmenuLabel" hidden>{{ translations[locale].opensubmenu }}</span>
<span id="closeSubmenuLabel" hidden>{{ translations[locale].closesubmenu }}</span>

<a href='#main' class='skiplink'>{{ translations[locale].skiplink }}</a>
