<nav
    data-partial='page-header/translate'
    class='page-header-translate'
    aria-label='{%- if locale == 'nl' -%}{{ translations[locale].ariaTitleTranslateNav }}{%- else -%}{{ site.en.ariaTitleTranslateNav }}{%- endif -%}'
>
    <ul role='list'>
        {%- for lgg in site.languages -%}
            {%- for item in collections.all -%}
                {%- if item.data.key == key and item.data.locale == lgg.code -%}
                    {%- assign translatedUrl = item.url -%}
                    {%- assign key = key %}
                {%- endif -%}
            {%- endfor -%}

            <li>
                {%- if locale == lgg.code -%}
                    <a
                        class='c-lggnav__link navigation-link'
                        aria-current='page'
                        href='{{ page.url }}'
                        lang='{{ lgg.code }}'
                    >
                        <span class='visually-hidden'>{{ lgg.currentLabel }} </span>
                        <span class='languageLabel' aria-label='{{ lgg.ariaLabel }}'>{{ lgg.label }}</span></a>
                {%- else -%}
                    {% if translatedUrl %}
                        <a
                            class='c-lggnav__link navigation-link a'
                            hreflang="{{ lgg.code }}"
                            href='{{ translatedUrl }}'
                            lang='{{ lgg.code }}'
                            data-content-key='{{ key }}'
                        >
                            <span class='visually-hidden'>{{ lgg.switchLabel }} </span>
                            <span class='languageLabel' aria-label='{{ lgg.ariaLabel }}'>{{ lgg.label }}</span></a>
                    {%- else -%}
                        <a
                            class='c-lggnav__link navigation-link'
                            hreflang="{{ lgg.code }}"
                            href='/{{ lgg.code }}/'
                            lang='{{ lgg.code }}'
                        >
                            <span class='visually-hidden'>{{ lgg.switchLabel }} </span>
                            <span class='languageLabel' aria-label='{{ lgg.ariaLabel }}'>{{ lgg.label }}</span></a>
                   {%- endif -%}
                {%- endif -%}
            </li>
        {%- endfor -%}
    </ul>
</nav>
