
<nav class="page-header-translate" aria-label="{% if locale == 'nl' %}{{ translations[locale].ariaTitleTranslateNav }}{% else %}{{ site.en.ariaTitleTranslateNav }}{% endif %}">

{% assign currentLanguage = locale %}

    <ul role="list">
        {% for lgg in site.languages %}

            {% assign translatedUrl = "/" + lgg.code + "/" %}
            {% assign activeClass = "is-active" if lgg.code == locale else "" %}

            {% for item in collections.all %}
                {% if item.data.key == key and item.data.locale == lgg.code %}
                    {% assign translatedUrl = item.url %}
                {% endif %}
            {% endfor %}

            <li lang="{{ lgg.code }}">
                {% if currentLanguage == lgg.code %}
                    <span>{{ lgg.label }}</span>
                {% else %}
                    <a class="c-lggnav__link  {{ activeClass }}" href="{{ translatedUrl }}">
                        <span class="visually-hidden">{{ lgg.currentLabel }}</span>
                        {{ lgg.label }}
                    </a>
                {% endif %}
            </li> 

        {% endfor %}
    </ul>
</nav>
