<div data-partial="job" class="job job-{{ index }}">
    {%- if post.data.graphic.src -%}
        <div class="job-graphic-wrapper" 
            {%- if post.data.graphic.src -%}
                style="background-image: url('/assets/images/{{ post.data.graphic.src }}')"
            {%- else -%}
                style="background-image: url('/assets/images/default_blog_image.jpg')"
            {% endif %}>
        </div>
    {%- endif -%}

    <div class="job-content">
        {%- include partials/utility/dynamic-headerlevel level: headerlvl title: job.data.title link: job.url -%}

        {%- if job.data.summary -%}
            <p class="job-summary">{{ job.data.summary | strip_html | truncatewords: 60 | truncate: 320 }}</p>
        {%- else -%}
            <p class="job-summary">{{ job.templateContent | strip_html | truncatewords: 60 | truncate: 320 }}</p>
        {%- endif -%}
    </div>

    <div class="job-meta">
        {%- if locale == "nl" -%}
            <time class="blog-time" datetime="{{ job.date | date: "%Y-%m-%d" }}">
                {{ job.date | localizedDate: 'nl' }}
            </time>
        {%- elsif locale == "en" -%}
            <time class="blog-time" datetime="{{ job.date | date: "%Y-%m-%d" }}">
                {{ job.date | displayDate: locale | date: "%B %e %Y" }}
            </time>
        {%- endif -%}

        <ul
            class="job-tags"
            role="list"
            aria-label="Tagged">
            {%- for tag in job.data.categories limit: 2 -%}
                <li>
                    <a href="/{{ translations[locale].blogsURL }}/{{ translations[locale].category }}/{{ tag | slugify }}" class="tag-link">{%- tag tag -%}</a>
                </li>
            {%- endfor -%}
        </ul>
    </div>

    <div class="job-readmore">
        <a
            href="{{ job.url }}"
            class="button button-readmore">
            {{ translations[locale].blogreadmore }}
            <span class="visually-hidden">{{ translations[locale].about }} {{ job.data.title }}</span>
        </a>
    </div>
</div>
