<div class="job job-{{ index }}">
    <div class="job-graphic" 
    {%- if job.data.backgroundcolor -%}style="background-color: {{ job.data.backgroundcolor }}"
    {%- endif -%}>
        <img src="{{ job.data.graphic.src }}" alt="{{ job.data.graphic.alt }}" />
    </div>
    <div class="job-content">
        {% include partials/utility/dynamic-headerlevel level:headerlvl title:job.data.title link:job.url %}

        {% if job.data.summary %}
            <p class="job-summary">
                {{ job.data.summary }}
            </p>
        {% else %}
            {{ job.templateContent | striptags | truncate: 115  }}
        {% endif %}

        <div class="job-meta">
            <p class="job-byline">
                <time class="blog-time" datetime="{{ job.date | date: "%Y-%m-%d" }}">
                    {{ job.date | date: "%d.%m.%y" }}
                </time>
                <!-- {{ job.data.author }} -->
            </p>
            <ul class="job-tags">
                {%- for tag in job.data.categories limit:2 -%}
                    <li>{% tag tag %}</li>
                {% endfor %}
            </ul>

            <a href="{{ job.url }}" class="button job-readmore">
                {{ translations[locale].jobreadmore }} 
                <span class="visually-hidden">{{ translations[locale].about }} {{ job.data.title }}</span>
            </a>
        </div>
    </div>
</div>
 