{% include partials/utility/dynamic-headerlevel level:"h3" title:translations[locale].categories %}

{% for category in collections.blogCategories %}
  {% if loop.first %}
    <p><a href="{{ translations[locale].blogURL }}/">{{ translations[locale].all }}</a></p>
  {% endif %}
  <p><a href="{{ translations[locale].blogURL }}/categorie-{{ category.slug }}">{{ category.title }}</a></p>
{% endfor %}
