{% include partials/utility/dynamic-headerlevel level:"h3" title:site[locale].categories %}

{% for category in collections.activityCategories %}
  {% if loop.first %}
    <p><a href="{{ site[locale].activitiesURL }}/">{{ site[locale].all }}</a></p>
  {% endif %}
    <p><a href="{{ site[locale].activitiesURL }}/{{ site[locale].category }}-{{ category.slug }}">{{ category.title }}</a></p>
{% endfor %}
