{% include partials/utility/dynamic-headerlevel level:"h3" title:translations[locale].specialties %}

{% for specialty in collections.memberSpecialties %}
  {% if loop.first %}
    <p><a href="/{{ translations[locale].freelancersURL }}/">{{ translations[locale].all }}</a></p>
  {% endif %}
    <p><a href="/{{ translations[locale].freelancersURL }}/{{ translations[locale].specialty }}-{{ specialty.slug }}">{{ specialty.title }}</a></p>
{% endfor %}
