<div class="member">
    <header class="member-header member-header-{{ index }}"> 
        <div class="member-header-background"></div>
        {% if member.data.graphic %}
            <img src="{{ member.data.graphic.src }}" 
                alt="{% if member.data.graphic.alt %}{{ member.data.graphic.alt }}{% endif %}"
                class="member-graphic" 
            />
        {% endif %}
        {% include partials/utility/dynamic-headerlevel level:"h3" title:member.data.title link:member.url %}
    </header>
    <div class="member-content">
        {% if member.data.summary %}
            <p class="member-summary">{{ member.data.summary }}</p>
        {% else %}
            <p class="member-summary">{{ member.templateContent | striptags | truncate: 150 | strip_html  }}</p>
        {% endif %}

        {% if member.data.specialties %}
            <p>
                <strong>{{ translations[locale].specialties }}:</strong><br />
                {% for specialty in member.data.specialties %}
                    <a href="/{{ translations[locale].membersURL }}/{{ translations[locale].specialty }}/{{ specialty | slugify }}/">{% tag specialty %}</a>
                {% endfor %}
            </p>
        {% endif %}

        {% if member.data.status %}
        <p>
            <strong>Status:</strong><br />
            {{ member.data.status }}
        </p>
        {% endif %}
    </div>
</div>
