<!-- creates a simple pagination. See for the original pagination design
    https://xd.adobe.com/view/bd533314-bf05-4cbe-b634-499f8f25dbbc-e800/screen/f38cbe49-ff62-428b-8bb0-c6c29d831bac/
-->

{% comment %}{%- if pagination.pageLinks.length > 1 -%}{% endcomment %}
    {% comment %}<nav class="pagination">{% endcomment %}
    {% comment %}{%- if pagination.previousPageLink -%}{% endcomment %}
        {% comment %}<a class="pagination__item button button-parentheses" href="{{ pagination.previousPageHref | url }}">{{ translations[locale].previous }}</a>{% endcomment %}
{% comment %}{% endcomment %}
    {% comment %}{%- else -%}{% endcomment %}
        {% comment %}<span class="pagination__item pagination__item--disabled">{{ translations[locale].previous }}</span>{% endcomment %}
    {% comment %}{%- endif -%}{% endcomment %}

        {%- if pagination.pageLinks.length > 1 -%}
    <nav class="pagination">
    {%- if pagination.previousPageLink -%}
        <a aria-label="{{ translations[locale].previous }}" class="pagination__navigation-button" href="{{ pagination.previousPageHref | url }}"><</a>
    {%- endif -%}

        {% comment %}
        todo:
        1. unordered list maken met listitems erin - check
        2. zit je op currentpage, dan span laten zien - check
        3. Bij 5 of meer pagina's ... toevoegen, bijv 1 2 3 ... 10
                3a. Als er minder dan 5 pagina’s zijn, laat dan alle pagina’s zien - check
                3b. Bij meer dan 5 pagina’s, laat max 5 pagina’s zien: de previousPage, currentPage, nextPage, … span, en lastPage (bijv 2 3 4 … 13) - check
                3c. Als er meer dan 5 pagina’s zijn en de volgende pagina is de laatste pagina: laat first page zien, … span, previousPage, currentPage en lastPage - check
                3d. Als er meer dan 5 pagina’s zijn er is geen previousPage dan: laat currentPage zien, nextPage, nextPage+1, … span, en lastPage - check
                3e. Bij meer dan 5 pagina’s en er is geen nextPage, laat dan 5 pagina’s zien: firstPage, … span, previousPage -1, previousPage, currentPage - check maar doet nog raar met het twee na laatste getal
        4. Vorige en volgende button styling aanpassen

        {% endcomment %}
    <ul class="pagination__page-list">

        {% comment %}Als er minder dan 5 pagina’s zijn, laat dan alle pagina’s zien{% endcomment %}

        {% if  pagination.pageLinks.length <= 5 %}

    {%- for page in pagination -%}

        <li class="pagination__page-list-items">
            {%- if pagination.pageNumber == forloop.index0 -%}
                <span class="pagination__page-number--active">
                        {{ forloop.index0 | plus: 1 }}
                    </span>
            {%- else -%}
                <a class="pagination__page-number"
                   href="{{ pagination.hrefs[ forloop.index0 ] }}">{{ forloop.index0 | plus: 1 }}</a>
            {%- endif -%}
        </li>

    {%- endfor -%}

    {% endif %}

        {% comment %}Bij meer dan 5 pagina’s, laat max 5 pagina’s zien: de previousPage, currentPage, nextPage, … span, en lastPage (bijv 2 3 4 … 13){% endcomment %}

        {% if pagination.hrefs.length > 5 and pagination.href.previous and pagination.href.next %}
            <li class="pagination__page-list-items">
                <a class="pagination__page-number"
                   href="{{ pagination.href.previous }}">{{ pagination.pageNumber }}</a>
            </li>
            <li class="pagination__page-list-items">
                <span class="pagination__page-number--active">
                {{ pagination.pageNumber | plus: 1 }}
                </span>
            </li>
            <li class="pagination__page-list-items">
                <a class="pagination__page-number"
                   href="{{ pagination.href.next }}">{{ pagination.pageNumber | plus: 2 }}</a>
            </li>
            <li class="pagination__page-list-items">
                <span class="pagination__page-number">
                ...
                </span>
            </li>
            <li class="pagination__page-list-items">
                <a class="pagination__page-number"
                   href="{{ pagination.href.last }}">{{ pagination.hrefs.length }}</a>
            </li>

        {% endif %}

        {% comment %}Als er meer dan 5 pagina’s zijn en de volgende pagina is de laatste pagina: laat first page zien, … span, previousPage, currentPage en lastPage{% endcomment %}


        {% if pagination.hrefs.length > 5 and pagination.href.previous and pagination.href.next == pagination.href.last %}
            <li class="pagination__page-list-items">
                <a class="pagination__page-number"
                   href="{{ pagination.href.first }}">1</a>
            </li>
            <li class="pagination__page-list-items">
                <span class="pagination__page-number">
                ...
                </span>
            </li>
            <li class="pagination__page-list-items">
                <a class="pagination__page-number"
                   href="{{ pagination.href.previous }}">{{ pagination.pageNumber }}</a>
            </li>
            <li class="pagination__page-list-items">
                <a class="pagination__page-number--active"
                   href="{{ pagination.pageNumber}}">{{ pagination.pageNumber | plus: 1 }}</a>
            </li>

            <li class="pagination__page-list-items">
                <a class="pagination__page-number"
                   href="{{ pagination.href.last }}">{{ pagination.hrefs.length }}</a>
            </li>

        {% endif %}

        {% comment %}3c. Als er meer dan 5 pagina’s zijn er is geen previousPage dan: laat currentPage zien, nextPage, nextPage+1, … span, en lastPage{% endcomment %}

        {% if pagination.hrefs.length > 5 and pagination.href.previous == null and pagination.href.next %}
            <li class="pagination__page-list-items">
                <span class="pagination__page-number--active">
                {{ pagination.pageNumber | plus: 1 }}
                </span>
            </li>
            <li class="pagination__page-list-items">
                <a class="pagination__page-number"
                   href="{{ pagination.href.next }}">{{ pagination.pageNumber | plus: 2 }}</a>
            </li>
            <li class="pagination__page-list-items">
                <a class="pagination__page-number"
                   href="{{ pagination.pageNumber | plus: 2 }}">{{ pagination.pageNumber | plus: 3 }}</a>
            </li>
            <li class="pagination__page-list-items">
                <span class="pagination__page-number">
                ...
                </span>
            </li>
            <li class="pagination__page-list-items">
                <a class="pagination__page-number"
                   href="{{ pagination.href.last }}">{{ pagination.hrefs.length }}</a>
            </li>
        {% endif %}

        {% comment %}Bij meer dan 5 pagina’s en er is geen nextPage, laat dan 5 pagina’s zien: firstPage, … span, previousPage -1, previousPage, currentPage.{% endcomment %}
        {% if pagination.hrefs.length > 5 and pagination.nextPageHref == null and pagination.href.previous %}

            <li class="pagination__page-list-items">
                <a class="pagination__page-number"
                   href="{{ pagination.href.first }}">1</a>
            </li>
            <li class="pagination__page-list-items">
                <span class="pagination__page-number">
                ...
                </span>
            </li>
            <li class="pagination__page-list-items">
                <a class="pagination__page-number"
                   href="{{ pagination.pageNumber | minus: 2 }}">{{ pagination.pageNumber | minus: 1 }}</a>
            </li>
            <li class="pagination__page-list-items">
                <a class="pagination__page-number"
                   href="{{ pagination.href.previous }}">{{ pagination.pageNumber }}</a>
            </li>
            <li class="pagination__page-list-items">
                <span class="pagination__page-number--active">
                {{ pagination.pageNumber | plus: 1 }}
                </span>
            </li>

        {% endif %}

    </ul>

    {%- if pagination.nextPageLink -%}
    <a aria-label="{{ translations[locale].next }}" class="pagination__navigation-button" href="{{ pagination.nextPageHref | url }}">></a>
    {%- endif -%}
    </nav>

{%- endif -%}