<!-- creates a simple pagination. See for the original pagination design
    https://xd.adobe.com/view/bd533314-bf05-4cbe-b634-499f8f25dbbc-e800/screen/f38cbe49-ff62-428b-8bb0-c6c29d831bac/
-->

{%- if pagination.pageLinks.length > 1 -%}
    <nav class="pagination">
    {%- if pagination.previousPageLink -%}
        <a class="pagination__item button button-parentheses" href="{{ pagination.previousPageHref | url }}">{{ translations[locale].previous }}</a>

    {%- else -%}
        <span class="pagination__item pagination__item--disabled">{{ translations[locale].previous }}</span>
    {%- endif -%}

        {% comment %}
        todo:
        1. unordered list maken met listitems erin - check
        2. zit je op currentpage, dan span laten zien - check
        3. Bij 5 of meer pagina's ... toevoegen, bijv 1 2 3 ... 10

        {% endcomment %}
    <ul class="pagination__page-list">
        {%- for page in pagination -%}
            <li class="pagination__page-list-items">
                {%- if pagination.pageNumber == forloop.index0 -%}
                    <span class="pagination__page-number--active">
                        {{ forloop.index0 | plus: 1 }}
                    </span>
                {%- else -%}
                    <a class="pagination__page-number" href="{{ pagination.hrefs[ forloop.index0 ] }}">{{ forloop.index0 | plus: 1 }}</a>
                {%- endif -%}
            </li>
        {%- endfor -%}
    </ul>


        {%- if pagination.nextPageLink -%}
        <a class="pagination__item button button-parentheses"
           href="{{ pagination.nextPageHref | url }}">{{ translations[locale].next }}</a>
        {%- else -%}
        <span class="pagination__item pagination__item--disabled">{{ translations[locale].next }}</span>
        {%- endif -%}
    </nav>
{%- endif -%}